<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div class="text-center"  style="margin-top: 30px;"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">
Create
</button></div>



<div class="container"  style="margin-top: 30px;">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Cover</th>
            <th>Content</th>
            <th>Title</th>
            <th>File</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody  class="thead-light">
        <th:block th:each="user : ${listBlog}">
            <tr>
                <td>[[${user.getId()}]]</td>
                <td>[[${user.getCover()}]]</td>
                <td>[[${user.getContent()}]]</td>
                <td>[[${user.getTitle()}]]</td>
                <td><img th:src="@{${'file:/'+ user.getFile()}}" ></td>

                <td>
                    <button type="button" th:data-id="${user.getId()}" th:data-title="${user.getTitle()}" th:data-cover="${user.getCover()}" th:data-file="${user.getFile()}" th:data-content="${user.getContent()}" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" onclick="loadData(this.getAttribute('data-id'),this.getAttribute('data-title'),this.getAttribute('data-cover'),this.getAttribute('data-file'),this.getAttribute('data-content'))">
                        Edit
                    </button>
                    <a th:href="@{/delete/{id}(id=${user.id})}" ><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>

        </th:block>

        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase text-center">Create New Blog</h5>
            </div>
            <form th:action="@{/update}" method="post"   enctype="multipart/form-data" th:object="${blog}">
                <div class="modal-body">
                    <input id="id" type="hidden"  class="form-control" aria-describedby="inputGroupPrepend" required th:field="*{id}"/>
                    <div class="form-row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="Title">Title</label>
                            <input id="Title" type="text" placeholder="Title" class="form-control" aria-describedby="inputGroupPrepend" required th:field="*{title}"/>
                            <div class="invalid-feedback">
                                Please enter title.
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="Cover">Cover</label>
                            <input id="Cover" type="text" placeholder="Cover" class="form-control" aria-describedby="inputGroupPrepend" required  th:field="*{cover}"/>
                            <div class="invalid-feedback">
                                Please enter cover.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="content">Content</label>
                            <input id="content" type="text" placeholder="Content" class="form-control" aria-describedby="inputGroupPrepend" required  th:field="*{content}"/>
                            <div class="invalid-feedback">
                                Please enter content.
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="file_upload">File</label>
                            <input id="file_upload" type="file" name="file_upload" required multiple="multiple" /><br>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary rounded-0" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase text-center">Create New Blog</h5>
            </div>
            <form th:action="@{/save}" method="post"   enctype="multipart/form-data" th:object="${blog}">
                <div class="modal-body">
                    <input id="id" type="hidden"  class="form-control" aria-describedby="inputGroupPrepend" required th:field="*{id}"/>
                    <div class="form-row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="Title2">Title</label>
                            <input id="Title2" type="text" placeholder="Title" class="form-control" aria-describedby="inputGroupPrepend" required th:field="*{title}"/>
                            <div class="invalid-feedback">
                                Please enter title.
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="Cover2">Cover</label>
                            <input id="Cover2" type="text" placeholder="Cover" class="form-control" aria-describedby="inputGroupPrepend" required  th:field="*{cover}"/>
                            <div class="invalid-feedback">
                                Please enter cover.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="content2">Content</label>
                            <input id="content2" type="text" placeholder="Content" class="form-control" aria-describedby="inputGroupPrepend" required  th:field="*{content}"/>
                            <div class="invalid-feedback">
                                Please enter content.
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <label for="file_upload2">File</label>
                            <input id="file_upload2" type="file" name="file_upload" required multiple="multiple" /><br>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary rounded-0" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
    function loadData(id, title, cover, file, content) {
        document.getElementById('Cover').setAttribute('value',cover);
        document.getElementById('content').setAttribute('value',content);
        document.getElementById('file_upload').setAttribute('value',file);
        document.getElementById('Title').setAttribute('value',title);
        document.getElementById('id').setAttribute('value',id);
    }


</script>
</body>
</html>